:root {
  --primary-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-purple: #a855f7;
  --color-gray: #aeabb1;
  --color-red: #f87171;
}

html {
  
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  font-size: clamp(0.875rem, 0.188vw + 0.838rem, 1.063rem);
}

body {
  margin: 0;
  padding: 0;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}